.login-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@include breakpoint(md, max) {
		gap: 5rem;
	}
}

.login-page-logo-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	& > img.app-logo {
		width: 4rem;
		height: 4rem;
	}

	& > h1 {
		font-size: 22px;
		font-weight: 600;
		color: var(--color-text-001);
	}
}
